/* Cross browser reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* defining rem 16/10*/ }

body {
  box-sizing: border-box;
  background-color: #111928; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn--action {
  background-color: #0D1421;
  color: #00F1FF;
  font-size: 32px;
  text-transform: uppercase;
  text-shadow: 0px 0px 4px #00F1FF;
  transition: 0.5s all;
  padding: 1rem;
  border-style: solid;
  border-width: 0.05263em;
  border-image-source: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 40 40%22%3E%3Crect x=%221%22 y=%221%22 width=%2238%22 height=%2238%22 fill=%22transparent%22 stroke=%22%2300F1FF%22 stroke-width=%222%22 %2F%3E%3C%2Fsvg%3E");
  border-image-slice: 50%;
  border-image-width: 0.52632em; }
  .btn--action:hover {
    background-color: #00F1FF;
    color: #233250; }

.sample-heading {
  font-size: 2em;
  padding: 1em; }

.sample-heading-2 {
  font-size: 1.5em;
  padding: 1em;
  border-style: solid;
  border-width: 0.25em;
  border-image-source: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 48 48%22%3E%3Crect x=%223%22 y=%223%22 width=%2242%22 height=%2242%22 fill=%22transparent%22 stroke=%22%23333%22 stroke-width=%226%22 %2F%3E%3C%2Fsvg%3E");
  border-image-slice: 50%;
  border-image-width: 1em; }

.sample-heading-3 {
  font-size: 1em;
  padding: 1em; }

.header-img {
  max-width: 8.88rem;
  max-height: 3.6rem; }
