// COLORS
$color-dark-blue-bg: #111928;
$color-dark-blue-footer: #0D1421;

$color-primary: #233250;
$color-secondary: #00F1FF;

$color-text: #B8FBFF;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;