.btn {
    
    &--action {
        background-color: $color-dark-blue-footer;
        color: $color-secondary;
        font-size: $font-XXlarge;
        font-family: $default-font;
        text-transform: uppercase;
        @include textshadow;
        transition: 0.5s all;
        padding: 1rem;
        @include cutCorners($color-secondary, 20, 2, 38);
    
        &:hover{
          background-color: $color-secondary;
          color: $color-primary;
        }
      
    }

    &__corner {
      display: inline-block;
      padding: .6em 2rem;
      border: 0.2em solid $color-secondary;
      position: relative;
      background: $color-dark-blue-bg;
      text-align: center;
      transition: 0.5s all;
      margin-bottom: 2rem;

      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        background: $color-dark-blue-bg;
        transition: 0.5s all;
      }
      
      &::before {
        top: -0.3em; // let it overlap a bit to prevent thin line which could appear during scaling in some browsers etc.
        bottom: -0.3em;
        left: 1em;
        right: 1em;
        transition: 0.5s all;
      }
      
      &::after{
        left: -0.3em;
        right: -0.3em;
        top: 1em;
        bottom: 1em;
        transition: 0.5s all;
      }

      &:hover{
        // background-color: aquamarine;
        &::before {
          top: -0.3em; 
          bottom: -0.3em;
          left: 100%;
          right: 100%;
        }
        
        &::after{
          left: -0.3em;
          right: -0.3em;
          top: 100%;
          bottom: 100%;
        }
      }

      &--text{
        color: $color-secondary;
        font-size: $font-Xlarge;
        font-weight: bold;
        text-transform: uppercase;
        font-family: $default-font;
        position: relative;
        z-index: 1;
        @include textshadow;
      }
    }


    
    // &::after {
    //     content: "";
    //     display: inline-block;
    //     height: 100%;
    //     width: 100%;
    //     border-radius: 10rem;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: -1;
    //     transition: all .4s;
    // }
    
    // &--animated {
    //     animation: moveInBottom .5s ease-out .75s;
    //     animation-fill-mode: backwards;
    // }
}

// .btn-text {
//     &:link,
//     &:visited {
//         // font-size: $default-font-size;
//         color: $color-primary;
//         display: inline-block;
//         text-decoration: none;
//         border-bottom: 1px solid $color-primary;
//         padding: 3px;
//         transition: all .2s;
//     }

//     &:hover {
//         background-color: $color-primary;
//         color: $color-white;
//         box-shadow: 0 1rem 2rem rgba($color-black, .15);
//         transform: translateY(-2px);
//     }

//     &:active {
//         box-shadow: 0 .5rem 1rem rgba($color-black, .15);
//         transform: translateY(0);
//     }
// }





