

.genres{
    clip-path: polygon(100% 0, 100% 95%, 85% 100%, 0 100%, 0 0);
    display: inline-block;

    &__title {
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-size: 2rem;
        color: rgba($color-text, .5);
        font-weight: normal;
    }

    &__list {
        list-style-type:none;
    }

    &__items {
        color: $color-text;
        font-size: $font-regular;
        padding: .5rem;
        display: inline-block;

        &:hover {
            background-color: rgba($color-secondary, .15);
            @include textshadow;
        }
    }

    &__icon {
        color: $color-text;
        font-size: $font-regular;
    }
}

.poly-box {
    margin-right: 2rem;
    
    
    position: relative;
    width: 200px;
    height: 440px;
    background-color: $color-secondary;
}

.poly-border {
    padding: 2rem;
    position: absolute;
    width: 196px;
    height: 436px;
    top: 2px;
    left: 2px;
    background-color:$color-dark-blue-bg;   
}
