/* Cross browser reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* defining rem 16/10*/
    font-family: 'PT Mono', monospace;
    min-height: 100%;
}

body {
    box-sizing: border-box;
    background-color: $color-dark-blue-bg;
    background: linear-gradient(180deg, rgba($color-dark-blue-bg, 1) 0%, rgba(32,46,73,1) 100%);
    font-family: 'PT Mono', monospace;
    min-height: 100%;
    // footer
    // padding-bottom: 6rem;
}

.stars-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(../img/stars.jpg);
    background-size: cover;
    z-index: -5;
    opacity: .2;

    &__img {
        object-fit: cover;
        opacity: .2;
    }
}

.footer {
    height: 6rem;
  background-color: $color-dark-blue-bg;
  margin-top: 6rem;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    max-width: 1010px;
    color: rgba(255,255,255,0.5);
    // font-family: $default-font;
  }
}

.flex {
    display: flex;
}