.breadcrum {
    font-family: $default-font;
    font-size: $font-regular;
    color: $color-secondary;
    text-transform: uppercase;
    margin: 6rem 0 2rem;
    display: block;

}

.details {
    display: flex;
    justify-content: center;
    width: 100vw;
}


.details {

    &__content {

    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    margin-bottom: 2rem;
        
    }

    &__columner{
        display: grid;
        grid-template-columns: 800px 360px;
        grid-template-rows: 1fr;
        grid-column-gap: 4rem;
        justify-items: start;
        align-items: stretch;
    }



    &__left {
        width: 100%;
    }

    &__right {
        width: 100%;

        &--titlebox{
            display: flex;
            justify-content: space-between;
        }
        &--title{
            color: $color-secondary;
            font-size: $font-large;
            @include textshadow;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        &--description {
            color: $color-text;
            font-size: $font-regular;
            margin-bottom: 2rem;
        }

        &--amount{
            color: $color-secondary;
            font-size: $font-large;
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    &__tags{
        padding: .6rem;
        background-color: rgba($color-secondary, .15);
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 2rem;

        &--name {
            color: $color-secondary;
            font-size: $font-regular;
        }
    }

}